<%= div_for workout do %>
  <h3>
    <%= link_to workout.title, article %>
    <% if workout.owned_by? current_user %>
      <span class='actions'>
        <%= link_to "Edit", edit_workout_path(workout) %>
        <%= link_to "Delete", workout, confirm: "Are you sure?", method: :delete %>
      </span>
<% end %>
</h3>
  <%= simple_format workout.instructions %>
<% end %>